<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Sign In</title>
    <style>
        body {
        text-align: center;
        }
    </style>
</head>
<body>
{% load socialaccount %}
{% if user.is_authenticated %}
<script>window.location.href = "send/"</script>
{% else %}
<form action="{% provider_login_url 'google'%}">
    {% csrf_token %}
    <h2>Google Login</h2>
    <button type="submit">Continue with Google</button>
</form>
{% endif %}
</body>
</html>