{% extends 'main/base.html' %}
{% block title %}Email List{% endblock %}

{% block content %}
<h1>{{ls}}</h1>
<form method="post" action="#">
    {% csrf_token %}
    <ul>
        {% for item in ls.item_set.all %}
        <li>{{item}}
            <button type="submit" name="{{item.id}}" value="delete" class="btn"><i class="fa-solid fa-trash"></i>
            </button>
        </li>
        {% endfor %}
    </ul>
</form>

<form method="post" action="#">
    {% csrf_token %}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <button type="submit" name="newItem" value="add" class="btn btn-success">Add</button>
        </div>
        <input class="form-control" placeholder="Enter an email" type="email" name="new">
    </div>
</form>
{% endblock %}